body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #1a0b19, #150d2d, #162134) !important;
  color: #fff !important;
  overflow-x: hidden !important;
  width: 100vw !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}
.techStack {
  color: #c24dd0;
  border: 2px solid #c24dd0;
  padding: 0.5rem 2rem;
}
.customBtn {
  color: #fff !important;
  background-image: linear-gradient(150deg, #c24dd0, #7a72fa) !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
