.card {
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 1rem;
  border-radius: 5px;
}
.activeMenuItem {
  background-image: linear-gradient(150deg, #c24dd0, #7a72fa);
  color: #fff;
}

.menuItem {
  border: 2px solid #c24dd0;
}
.logoutBtn {
  color: #fff !important;
  background-image: linear-gradient(150deg, #c24dd0, #ff005d);
}
